# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
package-lock.json
.pnpm-debug.log

# Vim
*.swp
*.swo
*.swn

# R
.Rhistory
.RData
.Rproj.user/
.Ruserdata/

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
.Spotlight-V100
.Trashes
._*
.fseventsd
.TemporaryItems
.apdisk

# Linux
*~
.cache/
*~



# data
shared/location
shared/dbgrass
shared/cache
shared/logs

.gpp_location
_archives

